.admin-base-form {
    padding: 70px 45px 50px 100px;
    border-radius: 20px;
    width: 1055px;
}

.base-form-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
    text-transform: uppercase;
}

.base-form-actions {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 350px;
}